<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>506881197326-9vl3mba0otrggpr92nhpor4rtmn52qsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506881197326-9vl3mba0otrggpr92nhpor4rtmn52qsr</string>
	<key>API_KEY</key>
	<string>AIzaSyCrv3jfwf69q8NGZ8Nr1dWSEkNuT7ZPzZo</string>
	<key>GCM_SENDER_ID</key>
	<string>506881197326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sauravdesai.BuzzTracker</string>
	<key>PROJECT_ID</key>
	<string>buzztracker-ed761</string>
	<key>STORAGE_BUCKET</key>
	<string>buzztracker-ed761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506881197326:ios:2485ee80e964f6b2</string>
	<key>DATABASE_URL</key>
	<string>https://buzztracker-ed761.firebaseio.com</string>
</dict>
</plist>